# Sistema operativo
.DS_Store
Thumbs.db
desktop.ini

# EVE-NG / exportaciones de topología (opcional, descomenta si no quieres subir los .unl)
# *.unl

# Editores
.vscode/
*.swp

# Temporales
*.tmp
*.bak
